//output:index.html
doctype html
html    
    head
        title Alan Krygowski
        meta(charset="UTF-8")
        meta(name="description" content="Tymczasowe, proste portfolio grafika i web developera Alana Krygoskiego")
        meta(name="keywords" content="web development, graphics, photoshop, design, coding, html, css. js")
        meta(name="author" content="Alan Krygowski")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes")
        link(rel="stylesheet" type="text/css" href="style.css")
        link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=latin,latin-ext")
            
    body
        div#container
            div#behind
                div#wwwbox
                    h3 Strony WWW 
                          
                    
                        
                    div.wwfield
                        a.wlink(href="http://blizz-alankrg.rhcloud.com/website/" target="_blank")
                            video.sb.prewww(poster="img/www/webm/blizz.png" loop)
                                source(src="img/www/webm/blizz.webm")
                        div.text
                            p Szablon Blogowy Blizzard 
                            span.thrd(title="WEBSITE INFO") ...
                            div.hidtxt
                                p Prosty, responsywny szablon blogowy.
                                p Posiada własny lightbox, paginację oraz możliwość wyszukiwania postów przez tagi lub podanie nazwy.
                                br
                                p.bl Projekt: Adobe Photoshop(własny)
                                p.bl Kodowanie: HTML5 | CSS3 | PHP5 | JAVASCRIPT | JQUERY | MYSQL
                                    
                                    
                    div.wwfield
                        a.wlink(href="http://blizz-alankrg.rhcloud.com/" target="_blank")
                            video.sb.prewww(poster="img/www/webm/blizzcms.png" loop)
                                source(src="img/www/webm/blizzcms.webm")
                        div.text
                            p Blizzard CMS
                            span.thrd(title="WEBSITE INFO") ...
                            div.hidtxt
                                p System zarządzania treścią stworzony pod szablon blogowy Blizzard
                                p Do dostępnych funkcjonalności należy: Dodawanie, Edycja i Usuwanie artykółów oraz Dodawanie i Usuwanie tagów i folderów.
                                br
                                p.rd Aby uzyskać tymczasowe hasło skontaktuj się ze mną
                                br
                                p.bl Projekt: Adobe Photoshop(własny)
                                p.bl Kodowanie: HTML5 | CSS3 | PHP5 | AJAX | JAVASCRIPT | JQUERY | MYSQL
                    
                    div.icons
                                    
                                
                div#grafbox
                    h3 Prace Graficzne
                    
                    div.graffield
                        img.sb(src="img/graf/s/baner.jpg" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/kalendarz1.jpg" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/bus_baner.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/bus_ulotka.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/bus_wizytowka.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/okladka_albumu.jpg" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/okladka_ksiazka.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/przewoz_baner.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/przewoz_ulotka.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/przewoz_wizytowka.png" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/stp2.jpeg" alt="image")
                    div.graffield
                        img.sb(src="img/graf/s/ulotka.jpg" alt="image")       
                    div.graffield
                        img.sb(src="img/graf/s/vexel1.jpg" alt="image")   
                    div.graffield
                        img.sb(src="img/graf/s/vexel2.jpg" alt="image")   
                    div.graffield
                        img.sb(src="img/graf/s/wektor.jpg" alt="image")            
                    div.graffield
                        img.sb(src="img/graf/s/logg2.jpg" alt="image")   
                    div.graffield
                        img.sb(src="img/graf/s/baner2.png" alt="image")   
                                 
            
                    
            div#tbg
                div#returntbg.close
                div.maincontent
                    h1 Alan Krygowski
                    h2 &lt;grafik/web developer &gt;
                    div.mainctexts
                        p Tu, pewnego dnia znajdzie się śliczne i pełnoprawne portfolio. 
                        p W międzyczasie jednak...
                
                    div.twobox
                        button.sb.link1#www STRONY WWW
                        button.sb.link1#graf GRAFIKA
                    button.sb.link2#cont KONTAKT
                img#arrow(src="img/arrow.png" alt="arrow")
                    
            div#preview
                div#close.close
                
            div#expwww
                div#closewww KLIKNIJ BY ZWINĄĆ
                div#expcontent
            
            div#closecont.close 
            div#contact
                form.inner(action="" method="POST")    
                    p.header Napisz Do Mnie 
                        
                    p.head Kim Jesteś?
                    input(type="text" name="nazwa")
                    p.head Twój E-Mail?
                    input(type="text" name="email")
                    p.head W czym mogę pomóc? :)
                    textarea(name="tresc" maxlength="360" rows="3")
                    button#send Wyślij
                    
                                
        script(src="jQuery.js")
        script(src="code.js")
